@if(Product){
<div class="container product_section_container" style="margin-top: 160px;">

  <div class="row">
    <div class="col product_section clearfix">

      <!-- Breadcrumbs -->

      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
        </ul>
      </div>


      <!-- Sidebar -->

				<div class="sidebar">
          			<app-category-list [activeCatId] = "this.activeCatId" (outCategoty)="changeCategory($event)"></app-category-list>

					<!-- Price Range Filtering -->
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h2>Filter by Price</h2>
						</div>
						<p>
							<input #ammount type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
						</p>
						<div id="slider-range"></div>
						<div (click)="priceChanged(ammount.value)" class="filter_button"><span>filter</span></div>
					</div>

					<!-- Sizes -->
          <app-size-list (outSize)="sizeChanged($event)"></app-size-list>
					<!-- Color -->
        <app-color-list (outColor)="colorChanged($event)"></app-color-list>

				</div>


        <!-- Main Content -->

				<div class="main_content">

					<!-- Products -->

					<div class="products_iso">
						<div class="row">
							<div class="col">

								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_top">
									<ul class="product_sorting">
										<li>
											<span class="type_sorting_text">Default Sorting</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_type">
												<li class="type_sorting_btn" (click)="changeSort('')" ><span>Default Sorting</span></li>
												<li class="type_sorting_btn" (click)="changeSort('PriceAsc')" ><span>PriceAsc</span></li>
												<li class="type_sorting_btn" (click)="changeSort('PriceDesc')" ><span>PriceDesc</span></li>
											</ul>
										</li>
										<li>
											<span>Show</span>
											<span class="num_sorting_text">6</span>
											<i class="fa fa-angle-down"></i>
                      <ul class="sorting_num">
                      @for (item of [6,12,24]; track $index) {
												<li (click)="onPageIndedxClick(item)" class="num_sorting_btn"><span>{{item}}</span></li>
                      }
                      </ul>
											<!-- <ul class="sorting_num">
												<li class="num_sorting_btn"><span>6</span></li>
												<li class="num_sorting_btn"><span>12</span></li>
												<li class="num_sorting_btn"><span>24</span></li>
											</ul> -->
										</li>
									</ul>
									<div class="pages d-flex flex-row align-items-center">
										<div class="page_current">
											<span>1</span>
											<ul class="page_selection p-0">
                        @for (item of getPaginationList(); track $index) {
                          <li><a href="#">{{item}}</a></li>
                          }
											</ul>
										</div>
										<div class="page_total"><span>of</span> {{Product.pageCount}}</div>
                    @if(Product.pageNumber+1 < Product.pageCount){
										<div id="next_page_1" class="page_next"><a style="cursor: pointer;" (click)="nextPage()"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                    }

                  </div>

								</div>

								<!-- Product Grid -->
                @if(Product && Product.products){
								<div class="product-grid">

									<!-- Product 1 -->
                  @for (item of Product.products; track $index) {
									<div class="product-item men" routerLink="/product/{{item.id}}" @itemAnimation>
										<div class="product discount product_filter">
											<div class="product_image">
												<img src="{{item.imageUrl}}" style="height: 257px;" alt="">
											</div>
											<div class="favorite favorite_left"></div>
											<div
                      [class.product_bubble_red] = "item.isSale"
                      [class.product_bubble_right] = "item.isSale"

                      [class.product_bubble_green] = "!item.isSale&&item.isNew"
                      [class.product_bubble_left] = "!item.isSale&&item.isNew"
                      class="product_bubble   d-flex flex-column align-items-center">
                        @if(item.isSale){
                        <span>Sale</span>
                        }@else if(item.mainPrice - item.sellPrice > 0){
                          <span>-${{item.mainPrice - item.sellPrice}}</span>
                        }@else if(item.isNew) {
                          <span>New</span>
                        }
                      </div>
											<div class="product_info">
												<h3 class="product_name"><a href="single.html">{{item.name}}</a></h3>
												<div class="product_price">${{item.sellPrice}}
                          @if(item.mainPrice - item.sellPrice > 0){
                          <span>${{item.mainPrice}}</span>
                          }
                        </div>
											</div>
										</div>
										<div class="red_button add_to_cart_button"><a (click)="addToCart(item)">add to cart</a></div>
									</div>
                }
                </div>
              }
								<!-- Product Sorting -->

								<div class="product_sorting_container product_sorting_container_bottom clearfix">
									<ul class="product_sorting">
										<li>
											<span>Show:</span>
											<span class="num_sorting_text">04</span>
											<i class="fa fa-angle-down"></i>
											<ul class="sorting_num p-0">
                        @for (item of [1,2,3,4]; track $index) {
												<li (click)="onPageIndedxClick(item)" class="num_sorting_btn"><span>0{{item}}</span></li>
                      }
											</ul>
										</li>
									</ul>
									<span class="showing_results">Showing {{Product.pageNumber+1}}–{{Product.pageCount}} of {{Product.pageSize}} results</span>
									<div class="pages d-flex flex-row align-items-center">
										<div class="page_current">
											<span>1</span>
											<ul class="page_selection p-0">
                        @for (item of getPaginationList(); track $index) {
                        <li><a href="#">{{item}}</a></li>
                        }
											</ul>
										</div>
										<div class="page_total"><span>of</span> {{Product.pageCount}}</div>
                    @if(Product.pageNumber+1 < Product.pageCount){
										<div id="next_page_1" class="page_next"><a style="cursor: pointer;" (click)="nextPage()"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                    }
                </div>

								</div>

							</div>
						</div>
					</div>
				</div>

    </div>
  </div>
</div>
}
